@{
    ViewData["Title"] = "Account Profile";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@model OHD.Dto.ListAccountResponse
<section class="content-header">
    @if (ViewBag.msg != null)
    {
        if (ViewBag.msg == "Done")
        {
            <div class="callout callout-success">
                <h4>Successful</h4>
            </div>
        }
        else
        {
            <div class="callout callout-danger">
                <h4>Failed</h4>
            </div>
        }
    }
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Account Profile</h1>
            </div>
            <div class="col-md-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="dashboard" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">Account Profile</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Quick Example</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form asp-controller="account" asp-action="profile" method="post">
                    <div class="card-body">
                        <input type="hidden" name="id" asp-for="Id" />
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input asp-for="Username" type="text" class="form-control" id="username" required="required" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input asp-for="Password" type="password" class="form-control" id="password" required="required">
                        </div>
                        <div class="form-group">
                            <label for="fullName">Full Name</label>
                            <input asp-for="FullName" type="text" class="form-control" id="fullName" required="required">
                        </div>
                        <div class="form-group">
                            <label for="username">Role Name</label>
                            <input asp-for="RoleName" type="text" class="form-control" id="username" required="required" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input asp-for="Email" type="email" class="form-control" id="email" required="required">
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Save</button>                        
                    </div>
                </form>
            </div>
            <!-- /.card -->

        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <!--/.col (right) -->
    </div>
</div>


