
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@model OHD.Models.ViewModels.RequestViewModel

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Assign Request</h1>
            </div>
            <div class="col-md-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="dashboard" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">Assign Request</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            @if (ViewBag.msg != null)
            {
                if (ViewBag.msg == "Done")
                {
                    <div class="callout callout-success">
                        <h4>Successful</h4>
                    </div>
                }
                else
                {
                    <div class="callout callout-danger">
                        <h4>Failed</h4>
                    </div>
                }
            }
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Assign Request</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form asp-controller="HeadOffice" asp-action="edit" method="post">
                    <div class="card-body">
                        <input type="hidden" name="id" asp-for="Request.Id" />
                        <div class="form-group">
                            <label for="facility">Facility</label>
                            <select class="form-control" asp-for="Request.Facility" asp-items="@Model.Facilities">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fullName">Request Date</label>
                            <input class="form-control" type="datetime-local" asp-for="Request.RequestDate" />
                        </div>

                        <div class="form-group">
                            <label for="email">Assignee</label>
                            <select class="form-control" asp-for="Request.Assignee" asp-items="@Model.Accounts">
                            </select>
                        </div>

                        @*<div class="form-group">
                                <label>Status</label>
                                <select class="form-control" asp-for="Request.Status" asp-items="@Model.Statuses">
                                </select>
                            </div>*@

                        <div class="form-group">
                            <label>Severity</label>
                            <select class="form-control" asp-for="Request.Severity" asp-items="@Model.Severities">
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="fullName">Remarks</label>
                            <input class="form-control" type="text" asp-for="Request.Remarks" />
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-controller="request" asp-action="close-request" asp-route-id="Request.Id" class="btn btn-danger">
                            Close Request
                        </a>
                    </div>
                </form>
            </div>
            <!-- /.card -->

        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <!--/.col (right) -->
    </div>
</div>


